@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --huge: 6.5rem;
  --x-large: 4rem;
  --large: 2.5rem;
  --medium: 2rem;
  --small: 1.5rem;
  --x-small: 1.1rem;
  --tiny: 0.9rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0f0617;
  color: #ffff;
  /* background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%; */
  overflow-x: hidden;
}

/* Header */
.btn-1,
.btn-2 {
  font-size: var(--x-small);
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: none;
  background: transparent;
  text-align: left;
}

.btn-2 {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0.9rem 1.5rem;
}

i.fa-arrow-right-long {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0.3rem 1.5rem;
}

i.arrow-none {
  border: none;
  text-align: right;
  padding: 0;
}

.logo {
  font-size: 30px;
}

header article.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 3em;
  align-items: center;
  flex-wrap: nowrap;
}

header nav article.redirection a {
  text-decoration: none;
  font-weight: 500;
  margin: 0 1em;
}
header nav svg {
  width: 35px;
  height: 35px;
}
/* Dropdown menu*/
ul.first-ul li {
  display: inline-block;
  position: relative;
}
ul.menu li a {
  font-weight: 500;
  color: black;
}
ul.menu,
ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu li {
  margin: 1em;
}

ul.menu {
  background-color: #ffff;
  position: absolute;
  padding-right: 150px;
  left: 0px;
  text-align: left;
  display: none;
  border-radius: 5px;
}
ul.first-ul li {
  padding: 10px;
  transform: perspective(1px) translateZ(0);
  transition: 0.4s cubic-bezier(0.86, 0.01, 0.15, 0.99);
  z-index: 15;
}
ul.first-ul li::before {
  transform: scaleX(0);
  opacity: 0;
  transform-origin: 50% 50%;
  transition: 0.4s cubic-bezier(0.86, 0.01, 0.15, 0.99);
}
ul.first-ul li:hover {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
ul.first-ul li:hover a {
  color: black;
}
ul li:hover .menu-categorie {
  display: block;
  text-align: left;
  z-index: 15;
}
ul li:hover .menu-marque {
  display: block;
  z-index: 15;
}
ul li:hover .menu-type {
  display: block;
}

#login {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
#login {
  margin: 0;
  padding: 14px 24px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1px #eee;
  border-radius: 5px;
  /* display: block; */
}

#login:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#register {
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
}
#register {
  margin: 0;
  padding: 14px 24px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1px #eee;
  border-radius: 5px;
}

#register:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* ---- Fin Header ------ */

/* Hero banner */
.svg-bg {
  height: auto;
}

.svg-bg svg {
  position: absolute;
  top: -1.5rem;
  max-height: 780vh;
  right: -30rem;
  z-index: -1;
}

main {
  margin: 0 10px;
}

main section.first-page {
  background-image: radial-gradient(circle, #fff 2px, rgba(0, 0, 0, 0) 2px);
  background-size: 90px 90px;
  z-index: -15;
  /* padding-bottom: em; */
  margin-bottom: 2em;
}

main .btn1 {
  margin-top: 1em;
  background: transparent;
  border: none;
  font-size: var(--x-small);
  font-weight: bold;
  color: white;
  border-radius: 9px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
main i {
  align-items: center;
  margin-left: 0.5rem;
  font-size: var(--tiny);
}

.hero-banner {
  display: flex;
  justify-content: space-around;
  /* height: 100vh; */
  padding: 5em 0 0 0;
}
.txt-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 20%;
}

.txt-1 h1 {
  font-size: var(--huge);
  font-weight: normal;
  text-align: right;
  background-image: linear-gradient(120deg, #fac384, white);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0;
  margin: 0;
  line-height: 1em;
  height: 2.11em;
}

.txt-1 button {
  text-align: right;
  height: 35px;
}
.txt-1 .slide-txt {
  text-align: right;
}

.slide-txt {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 8rem;
  min-width: 500px;
  overflow: hidden;
  text-align: right;
}
.slide-txt div {
  font-size: var(--huge);
  position: absolute;
  top: 100%;
}
.txt-2 {
  color: white;
  padding-top: 1em;
  width: 425px;
  /* align-self: flex-end; */
  font-size: var(--small);
  line-height: 1.4;
  margin-top: 20em;
}

.slide-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 500px;
  min-width: 500px;
  overflow: hidden;
  text-align: right;

  width: 40%;
  /* border: solid red; */
}
.slide-img img {
  border-radius: 10px;
  position: absolute;
  left: 100%;
  top: 0;
  object-fit: cover;

  height: 500px;
  max-width: 500px;
}
/* --- Fin Hero Banner --- */

/* Cards */

.cards-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  padding-top: 3em;
  align-items: center;
  gap: 3em;
  padding-bottom: 10em;
}

.headline {
  margin: 2em 0 1rem 0;
  font-size: var(--small);
  text-shadow: 1px 1px 2px black;
  width: 900px;
  margin-right: 7em;
}

.headline span {
  font-weight: bold;
}
.container-cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  max-width: 300px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 10px;
  backdrop-filter: blur(100px);
}

.icon {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i {
  margin: auto;
  font-size: var(--x-small);
}

.title {
  font-size: var(--small);
  font-weight: bold;
  max-width: 200px;
  padding: 0;
  margin-top: 0.5rem;
}
.desc {
  margin: 0;
  padding: 0;
  font-size: var(--tiny);
}

/* --- Fin Cards --- */

/* Games */

.games {
  margin-left: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
.games img {
  width: 100%;
}
.games-home {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
}
.games-list h1 {
  font-size: var(--x-large);
  margin-left: 2.6em;
  font-weight: normal;
  line-height: 4.5rem;
}

.grid {
  --background-color: #18181b;
  --text-color: #a1a1aa;

  --card-background-color: rgba(255, 255, 255, 0.015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #ffffff;
  --card-icon-color: #d4d4d8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: 0.1;
  --card-shine-gradient: conic-gradient(
    from 205deg at 50% 50%,
    rgba(16, 185, 129, 0) 0deg,
    #10b981 25deg,
    rgba(52, 211, 153, 0.18) 295deg,
    rgba(16, 185, 129, 0) 360deg
  );
  --card-line-color: #2a2b2c;
  --card-tile-color: rgba(16, 185, 129, 0.05);

  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #34d399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);

  --blur-opacity: 0.01;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
  gap: 2em;
  position: relative;
  z-index: 1;
}

.card-game {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--background-color);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
      var(--card-box-shadow-1),
    0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
      var(--card-box-shadow-2),
    0 0 0 1px var(--card-border-color);
  padding: 56px 16px 16px 16px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  max-height: 250px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }

  p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  }


  .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;

    -webkit-mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );
    mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );

    .line {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.35s;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: var(--card-line-color);
        transition: transform 0.35s;
      }

      &:before {
        left: 0;
        right: 0;
        height: 1px;
        transform-origin: 0 50%;
        transform: scaleX(0);
      }

      &:after {
        top: 0;
        bottom: 0;
        width: 1px;
        transform-origin: 50% 0;
        transform: scaleY(0);
      }

      &.line-1 {
        &:before {
          top: 10%;
        }

        &:after {
          left: 22.5%;
        }

        &:before,
        &:after {
          transition-delay: 0.3s;
        }
      }

      &.line-2 {
        &:before {
          top: 32.5%;
        }

        &:after {
          left: 50%;
        }

        &:before,
        &:after {
          transition-delay: 0.15s;
        }
      }

      &.line-3 {
        &:before {
          top: 55%;
        }

        &:after {
          right: 22.5%;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1),
      0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur)
        var(--card-hover-box-shadow-2),
      0 0 0 1px var(--card-hover-border-color);

    .icon {
      &::after {
        background-color: var(--card-hover-icon-background-color);
        border-color: var(--card-hover-icon-border-color);
      }

      svg {
        color: var(--card-hover-icon-color);
      }
    }

    .shine {
      opacity: 1;
      transition-duration: 0.5s;
      transition-delay: 0s;
    }

    .background {
      .tiles {
        opacity: 1;
        transition-delay: 0.25s;

        .tile {
          animation-name: tile;
        }
      }
    }
  }
}

.card-game a i {
  padding-right: 0.5rem;
}
.card-game .background img {
  background-size: cover;
  background-repeat: repeat;
}
.grid a {
  z-index: 2;
  text-decoration: none;
  color: white;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: var(--card-label-color);
}

/* ---------- */
/* Avantages */

.main-avantages article {
  display: flex;
  justify-content: space-evenly;
  margin: 10% 0;
}
.main-avantages article section {
  width: 40%;
}

.main-avantages article img {
  /* border: solid red; */
  width: 30%;
  height: 250px;
  border-radius: 10px;
}
.main-avantages article section p {
  margin-top: 2em;
  text-align: left;
}

/* Nos plans */
.plans-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5em 0;
}
.plans-section h1 {
  display: flex;
  justify-content: center;
  font-size: var(--x-large);
  margin-bottom: 3rem;
  text-align: left;
}

.plans-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em 8px;
  padding: 0;
  height: 100%;
  margin: 0;
}

.plans-section button a{
  text-decoration: none;
  color: white;
}

.plan {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  max-width: 350px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.row-1 {
  padding: 3rem 1.8rem;
}
.row-2 {
  padding: 1.8rem;
  max-height: 180px;
}
.row-2 p {
  margin: 0;
  padding: 0;
}
.row-2 h3 {
  margin: 0;
  padding: 0;
}
.row-2 p {
  margin: 0;
  padding: 0;
}

.plan-top,
.plan-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tag {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: var(--tiny);
  padding: 0.6rem;
  border-radius: 5px;
  font-weight: bolder;
}

.green {
  border: 2px solid #89ffc4;
  background-color: rgba(137, 255, 196, 0.3);
}
.green .tag {
  background: #89ffc4;
  color: #0f0617;
}

.plan ul {
  font-size: var(--x-small);
  line-height: 1.3;
  opacity: 0.9;
}

.price {
  font-size: var(--medium);
  font-weight: bold;
}
.plan span {
  opacity: 0.5;
}

.col-1 {
  grid-row: span 2 / span 2;
}
.col-2 {
  grid-row: span 2 / span 2;
}
.col-3 {
  grid-row: span 2 / span 2;
}
.col-4 {
  grid-row-start: 3;
}
.col-5 {
  grid-row-start: 3;
}
.col-6 {
  grid-row-start: 3;
}

/* Avis */
.review-section {
  text-align: center; 
  margin: 40px auto;
  max-width: 600px;
  background-color: #1e1e1e;
  padding: 2em;
  border-radius: 15px;
  color: white;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.icons {
  font-size: 30px;
  color: gold;
  margin: 10px 0;
}

.review p {
  font-size: var(--medium);
  line-height: 1.4;
  text-align: center;
  max-width: 1100px;
}

.icons {
  display: flex;
  gap: 0.3rem;
}
.icons i {
  color: #fac384;
  z-index: 100;
  font-size: var(--small);
}
.review h4 {
  font-size: var(--x-small);
}
.review span {
  font-size: var(--x-small);
}

/* Mettre un Avis */
#stars {
  display: flex;
  direction: row;
}

#stars input[type="radio"] {
  display: none;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: white; 
}

#stars input[type="radio"]:checked ~ .star {
  color: gold; /
}

#stars input[type="radio"]:checked:nth-child(1) ~ .star:nth-child(1),
#stars input[type="radio"]:checked:nth-child(2) ~ .star:nth-child(2),
#stars input[type="radio"]:checked:nth-child(3) ~ .star:nth-child(3),
#stars input[type="radio"]:checked:nth-child(4) ~ .star:nth-child(4),
#stars input[type="radio"]:checked:nth-child(5) ~ .star:nth-child(5) {
  color: gold;
}

#stars input[type="radio"]:not(:checked) ~ .star {
  color: white;
}
.star-rating {
  direction: row;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 30px;
  cursor: pointer;
  color: white; 
}

.star-rating input[type="radio"]:checked ~ label {
  color: gold; /* Toutes les étoiles après l'étoile sélectionnée deviennent dorées */
}

.star-rating input[type="radio"]:checked ~ label {
  color: gold;
}

.star-rating input[type="radio"]:not(:checked) ~ label {
  color: white; /* Les étoiles non sélectionnées restent blanches */
}


/* Style pour le bouton "Laisser un avis" */
.leave-review-link {
  background-color: #ff5a5f;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px; 
}

.leave-review-link:hover {
  background-color: #e04f53;
}

/* Index Avis */

/* Conteneur de chaque avis */

.reviews-container { 
  display: grid; /* Utilise Flexbox */
  grid-template-columns: repeat(5, 1fr);
  /* flex-wrap: wrap; Permet d'afficher les avis côte à côte */
  /* justify-content: space-between; Les avis sont espacés à gauche et à droite */
  gap: 20px; /* Espace entre les avis */
  padding: 20px;
}

/* Conteneur de chaque avis */
.review-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;  /* Réduire la largeur du cadre pour plus de flexibilité */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

/* Image de profil */
.profile-picture {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-right: 15px;
}

/* Contenu de l'avis */
.review-content {
  flex: 1;
}

/* Nom de l'utilisateur */
.review-username {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

/* Affichage des étoiles */
.stars {
  display: inline-block;
  margin-bottom: 10px;
}

.star-filled {
  color: gold;
}

.star-empty {
  color: lightgray;
}

/* Commentaire */
.review-comment {
  font-size: 1em;
  margin-top: 10px;
  color: black;
  word-wrap: break-word; /* Casse les mots longs pour les faire revenir à la ligne */
}

/* Style pour les actions (modifier/supprimer) */
.review-actions {
  display: flex;
  justify-content: flex-start; /* Aligner les boutons à gauche */
  gap: 10px;
  margin-top: 10px;
}

/* Boutons pour modifier et supprimer */
.button-modify, .button-delete {
  padding: 5px 12px;  /* Taille des boutons */
  font-size: 0.9em;  /* Taille de police plus petite */
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;  /* Pour éviter le soulignement */
  display: inline-block;
  margin-right: 10px;
}

/* Couleurs des boutons */
.button-modify {
  background-color: #007bff;  /* Bleu pour modifier */
  color: white;
}

.button-modify:hover {
  background-color: #0056b3;  /* Changer la couleur au survol */
}

.button-delete {
  background-color: #dc3545;  /* Rouge pour supprimer */
  color: white;
}

.button-delete:hover {
  background-color: #c82333;  /* Changer la couleur au survol */
}

/* Pour le formulaire de suppression */
.delete-form {
  display: inline;  /* Le formulaire doit être en ligne pour ne pas casser la structure */
}
/* Commentaire */
.review-comment {
  font-size: 1em;
  margin-top: 10px;
  color: black;
  word-wrap: break-word; /* Casse les mots longs pour les faire revenir à la ligne */
}

/* Style pour les actions (modifier/supprimer) */
.review-actions {
  display: flex;
  justify-content: flex-start; /* Aligner les boutons à gauche */
  gap: 10px;
  margin-top: 10px;
}

/* Boutons pour modifier et supprimer */
.button-modify, .button-delete {
  padding: 5px 12px;  /* Taille des boutons */
  font-size: 0.9em;  /* Taille de police plus petite */
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;  /* Pour éviter le soulignement */
  display: inline-block;
  margin-right: 10px;
}

/* Couleurs des boutons */
.button-modify {
  background-color: #007bff;  /* Bleu pour modifier */
  color: white;
}

.button-modify:hover {
  background-color: #0056b3;  /* Changer la couleur au survol */
}

.button-delete {
  background-color: #dc3545;  /* Rouge pour supprimer */
  color: white;
}

.button-delete:hover {
  background-color: #c82333;  /* Changer la couleur au survol */
}

/* Pour le formulaire de suppression */
.delete-form {
  display: inline;  /* Le formulaire doit être en ligne pour ne pas casser la structure */
}


/* Foire aux questions */

.faq-wrapper {
  padding: 5rem 12rem;
  width: 75%;
  backdrop-filter: blur(100px);
}
.faq-wrapper h1 {
  font-size: var(--x-large);
  padding: 1rem;
  margin-bottom: 3rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0;
}

.faq {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.faq > h3 {
  font-size: var(--small);
  font-weight: bold;
  width: 25%;
}

.q-a-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  font-size: var(--x-small);
  cursor: pointer;
}

.fa-arrow-rotate-right {
  color: white;
}
.plus {
  font-size: var(--small);
}
.answer {
  max-height: 0;
  overflow: hidden;
}
.q-a-container.active .answer {
  max-height: 500px;
}
.answer p {
  line-height: 1.3;
  font-size: var(--x-small);
  opacity: 0.9;
}
/* ---- */

/* Games page */
.games-main {
  margin: 0;
  padding: 0;
}
/* Message de log in*/
.msg-logged {
  text-align: center;
  margin: 2em 0;
}
/* ---- */

/* Message Tous les jeux */
.text-games {
  margin: 2em 0 2em 2em;
}

/* Footer */
footer {
  padding: 3em 0;
  background-color: #212121;
  color: white;
}

footer section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer section article {
  display: flex;
  flex-direction: column;
}

footer section article section {
  display: flex;
  flex-direction: column;
}

footer section article a {
  text-decoration: none;
  color: white;
  line-height: 3em;
}
footer #footer-logo {
  font-size: 42px;
  text-align: center;
}

footer #footer-support {
  font-size: 20px;
  font-weight: bold;
}
footer #copyright {
  color: #8a8b85;
  margin-top: 5em;
}





/* Page construction */

.construction-page a{
  color: white;
  font-weight: bold;
}

/* Log in register form*/

.main-content {
  max-width: 350px;
  margin: 20px auto;
  background-color: rgb(24, 2, 45);
  border: 1px solid #ccc;         /* Bordure grise pour le cadre */
  border-radius: 10px;  
  justify-content: center;  
  padding: 5%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  font-size: 1rem;
  color: #555;
  text-align: left;
  margin-bottom: 1px;
}
.input-form {
    padding: .5em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    box-sizing: border-box;
}

/* Focus sur les champs de saisie */
.input-form:focus {
    border-color: #007bff;
    outline: none;
}

/* Bouton de soumission */
.btn-login {
    padding: 15px;
    /* background-color: #007bff; */
    /* color: white; */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}



/* pour jeux memory */

 /* Conteneur principal où le bouton sera centré */
 .center-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
.center-container {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 10em;
  margin-bottom: 100px;
}
/* Style du bouton */
.button-exit {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 60px; 
  height: 60px; 
  font-size: 2em; 
  color: white;
  background-color: #dc3545; 
  text-decoration: none;
  border-radius: 50%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.2s ease;
}
/* Effet au survol */
.button-exit:hover {
  background-color: #c82333; 
  transform: scale(1.1);  
}
/* Icône à l'intérieur du bouton */
.button-exit i {
  text-align: center;
}

.text-center{
  margin: 5em 0;
}

.score-points{
  z-index: 100;
}


/* Quiz Game*/
/*  css du quiz */
.quiz-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  height: auto;
  padding: 20px; 
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; 
  margin: 20px auto; 
  text-align: center;
  color: #000; 
}

.quiz-container h1,
.quiz-container p {
  color: #000;
}

.button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.correct {
  background-color: green;
  color: white;
}

button.incorrect {
  background-color: red;
  color: white;
}

button:hover {
  opacity: 0.9;
}

/* Style pour les images des coeurs */
.heart {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.hearts-container {
  margin-top: 20px;
}


.quiz {
padding: 6em;
}

/* Style du bouton (déjà existant) */
/* Conteneur principal pour centrer le bouton */